<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ job }}</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation">
                        <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Build Project
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="showJavaBuild">Java Project</a></li>
    <li><a href="/showMavenSpringBuild">Maven Spring Project</a></li>
  </ul>
</div>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">{{ job }}</h3>
        </div>
 
        <div class="jumbotron">
            <h1>{{ job }}</h1>
            <p class="lead"></p>
            <p>
            </p>
        </div>
        <div class="container">
            <a href="/job/{{job}}/delete" id="btnStop" class="btn btn-danger" type="button">Delete Job</a>
            <a href="/job/{{job}}/delete" id="btnStop" class="btn btn-success" type="button">Deploy Job</a>
        </div>
        <br/>
        <div class="container">
        <h2>Build Console</h2>
            {{jobStatus}}
        <!--<ul class=entries>
        {% for status in jobStatus %}
    <li><h2>Build Number {{ status }}: </h2>{{ jobStatus[status] }}<a href="/job/{{job}}/{{status}}/stop" id="btnStop" class="btn btn-danger" type="button">Stop Build</a>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>-->
        </div>
 
        <footer class="footer">
            <p>&copy; Tamer Bahgat 2016</p>
        </footer>
 
    </div>
</body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

 <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

 <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>

 <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>