<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>{{ job }}</title>

    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/static/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="../static/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="../static/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="../static/css/ie9.css" /><![endif]-->
        </head>
 
<body>
    <!-- Header -->
            <header id="header" class="skel-layers-fixed">
                <h1><a href="/">Simple PAAS</a></h1>
                <a href="#nav">Menu</a>
            </header>

        <!-- Nav -->
            <nav id="nav">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="showJavaBuild">Build sbt Java Project</a></li>
                    <li><a href="showMavenSpringBuild">Build Maven Spring Java Project</a></li>
                </ul>
            </nav>

            <section id="main" class="wrapper">
                <div class="container">

                    <header class="major special">
                        <h2>{{job}}</h2>
                    </header>
                    <section>
                        <div class="row">
                                <div class="6u 12u$(xsmall)">
                    <ul class="alt">
                                        <li><h4>Status : </h4>{{s}}</li>
                                        <li><h4>URL : </h4>{{url}}</li>
                                    </ul></div>

                <div class="6u 12u$(xsmall)">
                    <ul class="actions">
                                <li><a href="/start/{{job}}" class="button special">Start</a></li>
                                <li><a href="/stop/{{job}}" class="button">Stop</a></li>
                                <li><a href="/job/{{job}}/delete" class="button alt">Delete</a></li>
                            </ul>
                            </div>
                </div>
            </section>
            <br/>

        <div class="container">
        <h2>Build Console</h2>
            {{jobStatus}}
    </div>
    </div>
    </section>

    <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <ul class="copyright">
                        &copy; Tamer Bahgat 2016.
                    </ul>
                </div>
            </footer>
    <!-- Scripts -->
            <script src="/static/js/jquery.min.js"></script>
            <script src="/static/js/skel.min.js"></script>
            <script src="/static/js/util.js"></script>
            <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/static/js/main.js"></script>
</body>
</html>